body {
    font-family: 'Rubik', sans-serif;
    background-image: url(https://media.defense.gov/2019/Oct/22/2002198479/-1/-1/0/190915-M-CJ305-1251.JPG);
}

#nav-header li:hover {
    text-decoration: underline;
}