body {
    font-family: 'Rubik', sans-serif;
    background-image: url(https://media.defense.gov/2019/Oct/22/2002198479/-1/-1/0/190915-M-CJ305-1251.JPG);
}

#nav-header li:hover {
    text-decoration: underline;
}

#artist-info li a {
    color: black;
}

#all-events-dates li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.artist-display li {
    display: inline-block;
}

.artist-display li:after { 
    content: "\00a0 \00b7 \00a0"; 
}

.artist-display li:last-child:after { 
    content: none; 
}

.artist-display li:hover {
    cursor: pointer;
    text-decoration: underline;
}